/* A */
/* B */
.blue-allcaps {
    
}

.btn-buy-cancel {
    
}

.btn-buy-confirm {
    
}

/* D */
div #ad {
    
}

div .all-filters {
    
}

div .confirm-details {
    
}

div .content {
    
}

div .div-form {
    
}

div .flow-from-left-full {
    
}

div .flow-from-left-notfull {
    
}

div .heading-with-line {
    
}

div .item {
    
}

div .item > img {
    width: 200px;
}

div .navbar-top {
    background-color: RGB();
}

div .sort {
    
}

div #signin {
    
}

div #signup {
    
}

div .single-filter {
    
}

/* H */
h2 { /* item name in product details */
    font-family: "Roboto Condensed";
    font-size: 28px;
}

h3 { /* logo */
    /* color: white; */
    font-family: "League Spartan";
    font-size: 20px;
}

h4 { /* item name in grid */
    font-family: "Roboto Condensed";
    font-size: 16px;
}

h5 { /* item price in product details */
    font-family: "Roboto Condensed";
    font-size: 20px;
}

header {
    background-color:
}

/* I */
.item-view-details {
    
}

/* L */
label .formlabel {
    
}

/* P */
.product-buy-now {
    
}